In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
data = yf.download('AAPL', start='2022-01-01', end='2024-01-01')

[*********************100%%**********************]  1 of 1 completed

In [3]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,179.953888,104487900
2022-01-04,182.630005,182.940002,179.119995,179.699997,177.669983,99310400
2022-01-05,179.610001,180.169998,174.639999,174.919998,172.944000,94537600
2022-01-06,172.699997,175.300003,171.639999,172.000000,170.056976,96904000
2022-01-07,172.889999,174.139999,171.029999,172.169998,170.225082,86709100

In [6]:
data['MA20'] = data['Close'].rolling(window=20).mean()
data['MA50'] = data['Close'].rolling(window=50).mean()

In [11]:
data['Signal'] = np.where(data['MA20']>data['MA50'],1,0)
data['Position'] = data['Signal'].diff()

In [13]:
data['Buy'] = np.where(data['Position'] == 1, data['Close'], np.NAN)
data['Sell'] = np.where(data['Position'] == -1, data['Close'], np.NAN)

In [22]:
def moving_average(data):
    '''
    Returns a pandas dataframe with two columns, Buy and Sell
    If buy on the date, value will be the closing price. Otherwise NA
    If sell on the date, value will be the closing price. Otherwise NA
    '''
    data['MA20'] = data['Close'].rolling(window=20).mean() # moving average of 20 days
    data['MA50'] = data['Close'].rolling(window=50).mean() # moving average of 50 days
    data['Signal'] = np.where(data['MA20']>data['MA50'],1,0) 
    data['Position'] = data['Signal'].diff()
    data['Buy'] = np.where(data['Position'] == 1, data['Close'], np.NAN)
    data['Sell'] = np.where(data['Position'] == -1, data['Close'], np.NAN)
    return data[['Buy','Sell']]

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [ ]:
def evaluation_mean_absolute_errormetrics(price_pred, price_true):
    MAE =